
 /* Global styles come from external css https://codepen.io/GreenSock/pen/JGaKdQ*/

body, html {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    
    overflow-y: scroll;
}

@font-face {
  font-family: LeagueSpartan;
  src: url(../fonts/LeagueSpartan-Bold.otf);
}

@font-face {
  font-family: SourceSansProRegular;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

.homepage {
    display:none;
    z-index: 2;
    position: relative;
    top: -20px;
}
.icon-1 {
    padding-right: 74px !important;
    padding: 4px 0 10px 0;    
    position: relative;
}
span.icon-1:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 40px;
    right: 0;
    display: block;
    top: 0px;
    background-image: url(../img/designer@2x.png);
    background-repeat: no-repeat;
    background-size: auto 34px;
    background-position: right 1px;
    animation: jump 6s ease 2.6s infinite normal ;
}
.icon-2 {
    padding-right: 45px !important;
    padding: 4px 0 10px 0;
    position: relative;
}
span.icon-2:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 40px;
    right: 0;
    display: block;
    top: 0px;
    background-image: url(../img/illustrator@2x.png);
    background-repeat: no-repeat;
    background-size: auto 34px;
    background-position: right 1px;
    animation: jump 6s ease 2.8s infinite normal ;
}
.icon-3 {
    padding: 4px 0 10px 0;
    padding-right: 46px !important;    
    position: relative;
}
span.icon-3:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 40px;
    right: 0;
    display: block;
    top: 0px;
    background-image: url(../img/rebel-scum@2x.png);
    background-repeat: no-repeat;
    background-size: auto 34px;
    background-position: right 1px;
    animation: jump 6s ease 3s infinite normal ;
}

@keyframes jump {
  0%{
    transform: translateY(0);
  }
  2%{
    transform: translateY(-16px);
  }
  5%{
    transform: translateY(0);
  }
  7%{
    transform: translateY(-8px);
  }
  10%{
    transform: translateY(0);
    }
  80%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
  }
}
.page-wrapper {
    width: 100%;
    height: 100%;
}
.lockup-cont {
    max-width: 1024px;
    margin: 00 auto;
    position: relative;
    height: 100%;
}
.container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
}
@media screen and (min-height: 700px)  {
    .container {
        top: calc(50% - 370px);
    }
}
.mb-cont { 
    position: absolute;
    top: -90px;
    left: 20px;
    z-index: 102;
    opacity: 0;
    display: none;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}

.viewMenu.mb-cont { 
    opacity: 1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    top:40px;
    transition-delay: 1.2s;
}
.mb-cont:after {
    position: absolute;
    right: -100px;
    top: 29px;
    display: block;
    content: "Menu";
    text-transform: capitalize;
    font-family: "LeagueSpartan";
    line-height: 20px;
    font-size: 22px;
    letter-spacing: 1px;
    opacity: 1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 1.6s;
}
.mb-cont.is-active:after {
    opacity: 0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 1s;
}

.mb-cont #menu {
    transition: all 300ms cubic-bezier(0.75, 0, 0.25, 1);
    /*transition-delay: 100ms;*/
    position: relative;
    top: 0px;
    left: 0px;
}
.menu-button {
    background: none;
    z-index: 102;
    outline: none;
    border: 5px solid #000000;
    padding: 10px 10px;
    opacity: 1;
    transition: all 300ms cubic-bezier(0.75, 0, 0.25, 1);
}
.mb-cont:hover #menu {
    padding: 16px 16px;
    transition: all 300ms cubic-bezier(0.75, 0, 0.25, 1);
    top: -6px;
    left: -6px;
}
.mb-cont .mb-bg {
    width: 56px;
    height: 60px;
    display: block;
    z-index: -1;
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    background: #ffd673; /* Old browsers */
    background: -moz-linear-gradient(left, #ffd673 0%, #ff9945 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffd673 0%,#ff9945 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffd673 0%,#ff9945 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd673', endColorstr='#ff9945',GradientType=1 ); /* IE6-9 */
    transition: all 200ms cubic-bezier(0.75, 0, 0.25, 1);
}
.mb-cont:hover .mb-bg {
    width: 68px;
    height: 72px;
    transition: all 300ms cubic-bezier(0.75, 0, 0.25, 1);
    top: 6px;
    left: 6px;
    transition-delay: 150ms;
}
.mb-cont:active .mb-bg  {
    width: 60px;
    height: 64px;
    transition: all 80ms cubic-bezier(0.75, 0, 0.25, 1);
    top: 6px;
    left: 6px;
}

.mb-cont:active #menu {
    padding: 10px 10px;
    transition: all 100ms ease;
    transition-delay: 0;
    top: 2px;
    left: 1px;
}
.text-1 {
    font-family: "LeagueSpartan";
    display: block;
    position: absolute;
    top: 50px;
    left: calc(50% - 150px);
    font-size: 28px;
    letter-spacing: .3px;
    opacity: 1;
    width: 300px;
    text-align: center;
    opacity: 0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}
.viewHome .text-1 {
    top: 142px;
    opacity: 1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0.3s;
}
.title-1 {
    font-family: "LeagueSpartan";
    display: block;
    position: absolute;
    top: 100px;
    left: calc(50% - 300px);
    font-size: 72px;
    width: 600px;
    text-align: center;
    opacity: 0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}
.viewHome .title-1 {
    top: 195px;
    opacity: 1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    /*transition-delay: 0.4s;*/
}
.text-2 {
    font-family: "LeagueSpartan";
    display: block;
    position: absolute;
    top: 580px;
    left: calc(50% - 330px);
    font-size: 24px;
    text-align: center;
    width: 700px;
    opacity: 0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}
.viewHome .text-2 {
    top: 515px;
    opacity: 1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0.3s;
}
.text-2 span {
    margin-right: 30px;
    padding-right: 35px;
}
.view-more {
    position: absolute;
    top: 680px;
    left: calc(50% - 145px);
    font-family: "LeagueSpartan";
    padding-left: 115px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}
.viewHome .view-more {
    top: 620px;
    opacity: 1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0.6s;
}

.view-more span {
    transition-property: color;
    transition-duration: .3s; 
}
.view-more:hover span {
    color: #317bff;  
    transition-property: color;
    transition-duration: .3s; 
}


.view-more .circle-arrow {
    border: 5px solid black;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    background-image: url(../img/bc-ar-01.png);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 44px);
    cursor: pointer;
    transition: all 200ms ease;
}
.view-more .ca-bg{
    width: 78px;
    height: 78px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 36px);
    z-index: -1;
    background: #31baff;
    background: -moz-linear-gradient(-45deg, #31baff 0%, #317bff 100%);
    background: -webkit-linear-gradient(-45deg, #31baff 0%,#317bff 100%);
    background: linear-gradient(135deg, #31baff 0%,#317bff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31baff', endColorstr='#317bff',GradientType=1 );
    transition: all 200ms ease;
    border-radius: 100px;
}

.view-more:hover .circle-arrow {
    width: 78px;
    height: 78px;
    transition: all 200ms ease;
    left: -4px;
    top: calc(50% - 48px);
}
.view-more:hover .ca-bg {
    width: 86px;
    height: 86px;
    transition: all 200ms ease;
    left: 6px;
    top: calc(50% - 40px);
    transition-delay: 100ms;
}
/*
.view-more:active .circle-arrow {
    width: 70px;
    height: 70px;
    transition: all 50ms ease;
    left: 0;
    top: calc(50% - 44px);
}*/
.view-more:active .ca-bg {
    width: 80px;
    height: 80px;
    transition: all 80ms ease;
    left: 8px;
    top: calc(50% - 36px);
}

.page-bg {
    position: fixed;
    background: #ffffff;
    border-right: 16px solid #000000;
    box-shadow: 0 0 400px #00000061;
    transform: skew(-45deg);
    top: 0;
    left: -250%;
    display: block;
    z-index: 1;
    /*opacity: 0;*/
}
.menu-bg {
    position: fixed;
    background: #ffffff;
    border-right: 16px solid #000000;
    box-shadow: 0 0 400px #00000061;
    transform: skew(-45deg);
    top: 0;

    left: -300%;
    width: 200%;
    height: 100%;
    display: block;
    z-index: 100;
    /*opacity: 0;*/
    -webkit-transition: left 1.2s cubic-bezier(0.11, 0.71, 0.81,-0.07);
    -moz-transition: left 1.2s cubic-bezier(0.11, 0.71, 0.81,-0.07);
    -o-transition: left 1.2s cubic-bezier(0.11, 0.71, 0.81,-0.07); 
    transition: left 1.2s cubic-bezier(0.11, 0.71, 0.81,-0.07); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.11, 0.71, 0.81,-0.07); 
    -moz-transition-timing-function: cubic-bezier(0.11, 0.71, 0.81,-0.07); 
    -o-transition-timing-function: cubic-bezier(0.11, 0.71, 0.81,-0.07); 
    transition-timing-function: cubic-bezier(0.11, 0.71, 0.81,-0.07); /* custom */
}

.menu-bg.showmenu {
    left: -50% !important;
    -webkit-transition: left 1.2s cubic-bezier(0.11, 0.71, 0.81,-0.07);
    -moz-transition: left 1.2s cubic-bezier(0.11, 0.71, 0.81,-0.07);
    -o-transition: left 1.2s cubic-bezier(0.11, 0.71, 0.81,-0.07); 
    transition: left 1.2s cubic-bezier(0.11, 0.71, 0.81,-0.07); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.11, 0.71, 0.81,-0.07); 
    -moz-transition-timing-function: cubic-bezier(0.11, 0.71, 0.81,-0.07); 
    -o-transition-timing-function: cubic-bezier(0.11, 0.71, 0.81,-0.07); 
    transition-timing-function: cubic-bezier(0.11, 0.71, 0.81,-0.07); /* custom */
}
.orange-circle {
    display: block;
    position: absolute;
    top: 260px;
}
video.circle.anim {
    width: 222px;
}

.homepage-animation {
    position: absolute;
    top: 310px;
    left: calc(50% - 388px);
    width: 770px;
    text-align: center;
    opacity: 0;
    transition: all .8s ease;
}
.viewHome .homepage-animation {
    opacity: 1;
    transition: all .8s ease;
    transition-delay: 1.1s;
}
video.homepage.anim {
    width: 100%;
}
.blue-square {
    position: absolute;
    top: 190px;
    right: -30px;
}
video.square.anim {
    width: 278px;
}

.roles {
    width: 100%;
    margin-top: 31px;
    padding: 30px 0 0 0;
    display: block;
    position: absolute;
}
.roles.inview {
    top:230px;
    opacity: 1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 1.2s;
}
.roles.outview {
    top: 280px;
    opacity: 0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: .5s;
}
.roles span {
    font-size: 13px;
    letter-spacing: .5px;
    margin: 0 10px;
    padding-left: 30px;
    position:relative;
}
.roles span:before {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    left: 8px;
    top: 2px;
}

.roles span.green:before {
    background: #619f21;
}
.roles span.orange:before {
    background: #f18f31;
}
.roles span.blue:before {
    background: #31b6ff;
}



/* MENU */
.menu-wrapper {
    z-index: 121;
    position: absolute;
    width: 430px;
    text-align: left;
    height: 600px;
    left: calc(50% - 226px);
    top: calc(50% - 320px);
    font-family: "LeagueSpartan";
    display: none;
    transition: top 0.8s ease;
    transition-delay: 600ms;
}
.line-1 {
    height: 8px;
    width: 0;
    display: block;
    background: #000000;
    margin: 0 50px 60px 0;
    transition: width 0.6s cubic-bezier(0.75, 0, 0.25, 1);
}
.line-2 {
    height: 8px;
    width: 0;
    display: block;
    background: #000000;
    float: right;
    margin: 50px 0 0 0;
    transition: width 0.6s cubic-bezier(0.75, 0, 0.25, 1);
}
.link-home, .link-projects, .link-about {
    font-size: 52px;
    margin: 20px 0 20px 40px;
}
.email-info {
    margin: 20px 0 5px 53px;
    font-size: 20px;
}
.email-info a{
    color:#317bff;
    text-decoration: none;
}


video.menu-character1.anim {
    width: 330px;
    position: absolute;
    left: -600px;
    top: 400px;
    z-index: -1;
    opacity: 0;
    transition: all 1s ease;
    transition-delay: 0;
}
video.menu-character2.anim {
    width: 330px;
    position: absolute;
    right: -600px;
    top: 400px;
    z-index: -1;
    opacity: 0;
    transition: all 1s ease;
    transition-delay: 0;
}
video.menu-character3.anim {
    width: 330px;
    position: absolute;
    right: -650px;
    top: -450px;
    z-index: -1;
    opacity: 0;
    transition-delay: 0;
}

.showmenu video.menu-character1.anim {
    width: 330px;
    position: absolute;
    z-index: -1;
    opacity:1;
    left: -320px;
    top: 90px;
    transition: all 1s ease;
    transition-delay: 1s;
}
.showmenu video.menu-character2.anim {
    width: 330px;
    position: absolute;
    z-index: -1;
    right: -310px;
    top: 230px;
    opacity:1;
    transition: all 1s ease;
    transition-delay: 1s;
}
.showmenu video.menu-character3.anim {
    width: 330px;
    position: absolute;
    z-index: -1;
    right: -350px;
    top: -150px;
    opacity:1;
    transition: all 1s ease;
    transition-delay: 1s;
}
.bbar {
    width: 0;
    display: inline-block;
    height: 8px;
    background: #000000;
    margin-bottom: 16px;
    margin-right: 0;
    position: relative;
    left: -40px;
}
.mitem:hover {
    cursor: pointer;
}
.mitem * {
    transition: all 0.35s cubic-bezier(0.7, 0, 0.40, 1);
}
.mitem:hover .bbar {
    width: 80px;
}
.mitem:active .bbar {
    width: 50px;
}
.mitem:hover span.txt {
    margin-left: -30px;
    color: #317bff;
}
.working .mitem:hover .bbar {
    width: 0 !important ;
}
.working .mitem:active .bbar {
    width: 0 !important;
}
.working .mitem:hover span.txt {
    margin-left: 0 !important;
    color: #000000 !important;
}

.menu-wrapper.showmenu {
    top: calc(50% - 240px);
    transition: top 0s ease;
}
.menu-wrapper .mitem{
    opacity: 0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0.2s;
    transform: translate(0,-35px);
}
.menu-wrapper .email-info {
    opacity: 0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0.2s;
    transform: translate(0px,-35px);
}
.menu-wrapper.showmenu .mitem{
    opacity: 1;
    transform: translate(0,0);
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 1s;
}

.menu-wrapper.showmenu .mitem.link-home{
    opacity: 1;
    transform: translate(0,0);
    transition: all 0.6s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0.4s;
}
.menu-wrapper.showmenu .mitem.link-projects{
    opacity: 1;
    transform: translate(0,0);
    transition: all 0.6s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0.7s;
}
.menu-wrapper.showmenu .mitem.link-about{
    opacity: 1;
    transform: translate(0,0);
    transition: all 0.6s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 1s;
}

.menu-wrapper.showmenu .email-info {
    opacity: 1;
    transform: translate(0,0);
    transition: all .6s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 1.2s;
}
.menu-wrapper.showmenu .line-1 {
    height: 8px;
    width: 100%;
    display: block;
    background: #000000;
    margin: 0 50px 60px 0;
    transition: width 0.6s cubic-bezier(0.75, 0, 0.25, 1);
}

.menu-wrapper.showmenu .line-2 {
    height: 8px;
    width: 100%;
    display: block;
    background: #000000;
    float: right;
    margin: 50px 0 0 0;
    transition: width 0.6s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: .3s;
}

.projects-indicator {
    width: 100%;
    top: 660px;
    opacity: 0;
    text-align: center;
    display: inline-block;
    height: 30px;
    position: absolute;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}
.projects-indicator.inview {
    opacity: 1;
    top: 600px;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    
}

.projects-indicator.outview {
    opacity: 0;
    top: 660px;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}


.projects-indicator .indicator {
    width: 46px;
    height: 6px;
    background: #e3e3e3;
    display: inline-block;
    margin: 2px;
    transition-property: background;
    transition-duration: .5s;
}

.projects-indicator .indicator:hover {
    background: #000000;
    cursor: pointer;
}

.projects-indicator .indicator.active {
    background: #000000;
}
.project-container {
    position: absolute;
    top: 80px;
    text-align: center;
    font-family: "LeagueSpartan";
    width: 100%;
    opacity: 0;
    transition: top 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 1s;
}
.pn-cont {
    font-size: 32px;
    margin-bottom: 30px;
    font-family: "LeagueSpartan";
    position: relative;
}
.pn-cont .pnumber.active {
    display: inline-block;
    position: relative;
    top: 0;
    opacity: 1;
    width: 50px;
    text-align: right;
    padding-right: 5px;
    margin-left: 14px;
}
.pn-cont .pnumber.inactive {
    display: none;
    padding-right: 5px;
    margin-left: 12px;
}

.project-container.detailedProject {
    top: 40px;
    transition-delay: .7s;
}

.pn-cont span.numberp {
    color: #c1c1c1;
}
.picon img {
    max-width: 410px;
}
.ptitle {
    font-size: 38px;
    margin: 12px 0 22px 0;
}
.pdesc {
    max-width: 540px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 200;
    font-family: SourceSansProRegular;
    line-height: 24px;
    margin-bottom: 32px;
    top: 290px;
    position: absolute;
    left: calc(50% - 270px);
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}
.pdesc.inview {
    opacity: 1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 1s;
}
.pdesc.outview {
    opacity: 0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay:0.7s;
}

.vbc{
    margin: 0 auto;
    position: absolute;
    display: inline-block;
    min-width: 192px;
    cursor: pointer;
    min-height: 66px;
    float: none;
    transition: all 1s ease  ;
    top: 390px;
    left: calc(50% - 96px);
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}
.vbc.inview {
    opacity: 1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0.8s;
}
.vbc.outview {
    opacity: 0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: .7s;
}
.vp-button-cont {
    margin: 0 auto;
    display: inline-block;
    min-width: 192px;
    cursor: pointer;
    min-height: 66px;
    float: none;
    transition: all 200ms ease;
}
.vp-button-cont:hover {
    /*min-width: 200px;*/
    transition: all 200ms ease;
}
.vp-button {
    padding: 16px 28px;
    display: inline-block;
    font-size: 16px;
    border: 5px solid #000000;
    position: relative;
    top: 0px;
    left: 6px;
    line-height: 18px;
    transition: all 250ms cubic-bezier(0.75, 0, 0.25, 1);
    cursor: pointer;
}

.vp-button-cont:hover .vp-button {
    padding: 20px 35px;
    top: -4px;
    transition: all 250ms cubic-bezier(0.75, 0, 0.25, 1);
}
/*
.vp-button-cont:active .vp-button {
    padding: 16px 30px;
    top: 0px;
    transition: all 100ms cubic-bezier(0.75, 0, 0.25, 1);
}*/

.vp-button-cont .vp-bg {
    height: 55px;
    width: 166px;
    position: absolute;
    top: 10px;
    left: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background: -moz-linear-gradient(left, #ffd673 0%, #ff9945 100%);
    background: -webkit-linear-gradient(left, #ffd673 0%,#ff9945 100%);
    background: linear-gradient(to right, #ffd673 0%,#ff9945 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd673', endColorstr='#ff9945',GradientType=1 );
    transition: all 250ms cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 150ms;
}
.vp-button-cont:hover .vp-bg {
    height: 65px;
    width: 180px;
    top: 7px;
    left: 20px;
    transition: all 250ms cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 200ms;
}
.vp-button-cont:active .vp-bg {
    height: 61px;
    width: 176px;
    top: 9px;
    left: 22px;
    transition: all 100ms cubic-bezier(0.75, 0, 0.25, 1);
}

.projects {
    display: none;
    position: absolute;
    z-index: 0;
    width: 100%;
}
.navigation-left {
    position: absolute;
    opacity:0;
    top: 330px;
    left: -200px;
    cursor:pointer;
    z-index: 10;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0.5s;
}

.navigation-left.inview {
    left:50px;
    opacity:1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    
}

.navigation-left.outview {
    left: -200px;
    opacity:0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}
.navigation-left .left-arrow .arrow {
    border: 5px solid black;
    border-radius: 100px;
    width: 76px;
    height: 76px;
    background-image: url(../img/bc-al-01.png);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 44px);
    cursor: pointer;
    transition: all 200ms ease;
}
.navigation-left:hover .left-arrow .arrow {
    width: 84px;
    height: 84px;
    left: -4px;
    top: calc(50% - 48px);
    transition: all 200ms ease;
}
/*.navigation-left:active .left-arrow .arrow {
    width: 76px;
    height: 76px;
    left: 0px;
    top: calc(50% - 44px);
    transition: all 100ms ease;
    transition-delay:00ms;
}*/

.navigation-left .left-arrow .bg {
    width: 84px;
    height: 84px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 36px);
    z-index: -1;
    border-radius: 100px;
    background: #31baff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #31baff 0%, #317bff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #31baff 0%,#317bff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #31baff 0%,#317bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31baff', endColorstr='#317bff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: all 200ms ease;
}
.navigation-left:hover .left-arrow .bg {
    width: 92px;
    height: 92px;
    left: 4px;
    top: calc(50% - 40px);
    transition: all 200ms ease;
    transition-delay: 100ms;
}
.navigation-left:active .left-arrow .bg {
    width: 84px;
    height: 84px;
    left: 8px;
    top: calc(50% - 36px);
    transition: all 100ms ease;
}
.navigation-left .line-left {
    height: 5px;
    background: #000;
    width: 300px;
    position: absolute;
    right: 40px;
    top: -4px;
    transition: right 200ms ease;
}
.navigation-left:hover .line-left {
    height: 5px;
    background: #000;
    width: 300px;
    position: absolute;
    right: 80px;
    top: -4px;
    transition: right 200ms ease;
}

.navigation-left:active .line-left {
    height: 5px;
    background: #000;
    width: 300px;
    position: absolute;
    right: 60px;
    top: -4px;
    transition: right 200ms ease;
}

.navigation-right {
    position: absolute;
    top: 330px;
    right: -112px;
    opacity:0;
    cursor:pointer;
    z-index: 10;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}

.navigation-right.inview {
    right:138px;
    opacity:1;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
    
}

.navigation-right.outview {
    right: -112px;
    opacity:0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}

.navigation-right .right-arrow .arrow {
    border: 5px solid black;
    border-radius: 100px;
    width: 76px;
    height: 76px;
    background-image: url(../img/bc-ar-01.png);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 44px);
    cursor: pointer;
    transition: all 100ms ease;
}
.navigation-right:hover .right-arrow .arrow {
    width: 84px;
    height: 84px;
    left: -4px;
    top: calc(50% - 48px);
    transition: all 200ms ease;
}

/*
.navigation-right:active .right-arrow .arrow {
    width: 76px;
    height: 76px;
    left: 0;
    top: calc(50% - 44px);
    transition: all 200ms ease;
}*/
.navigation-right .right-arrow .bg {
    width: 84px;
    height: 84px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 36px);
    z-index: -1;
    border-radius: 100px;
    background: #31baff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #31baff 0%, #317bff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #31baff 0%,#317bff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #31baff 0%,#317bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31baff', endColorstr='#317bff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: all 100ms ease;
}
.navigation-right:hover .right-arrow .bg {
    width: 92px;
    height: 92px;
    left: 4px;
    top: calc(50% - 40px);
    transition: all 200ms ease;
    transition-delay: 100ms;
}
.navigation-right:active .right-arrow .bg {
    width: 84px;
    height: 84px;
    left: 8px;
    top: calc(50% - 36px);
    transition: all 200ms ease;
}
.navigation-right .line-right {
    height: 5px;
    background: #000;
    width: 300px;
    position: absolute;
    left: 128px;
    top:-4px;
    transition: left 200ms ease;
}

.navigation-right:hover .line-right {
    left: 168px;
    transition: left 200ms ease;
}
.navigation-right:active .line-right {
    left: 148px;
    transition: left 200ms ease;
}





.navigation-top {
    position: fixed;
    top: 50%;
    right: 138px;
    cursor:pointer;
    z-index: 10;
}
.navigation-top.outview {
    display: none;
}
.navigation-top .top-arrow .arrow {
    border: 5px solid black;
    border-radius: 100px;
    width: 76px;
    height: 76px;
    background-image: url(../img/bc-top-01.png);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 44px);
    cursor: pointer;
    transition: all 100ms ease;
}
.navigation-top:hover .top-arrow .arrow {
    width: 84px;
    height: 84px;
    left: -4px;
    top: calc(50% - 48px);
    transition: all 200ms ease;
    transition-delay: 100ms;
}
.navigation-top:active .top-arrow .arrow {
    width: 76px;
    height: 76px;
    left: 0;
    top: calc(50% - 44px);
    transition: all 200ms ease;
}
.navigation-top .top-arrow .bg {
    width: 84px;
    height: 84px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 36px);
    z-index: -1;
    border-radius: 100px;
    background: #31baff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #31baff 0%, #317bff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #31baff 0%,#317bff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #31baff 0%,#317bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31baff', endColorstr='#317bff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: all 100ms ease;
}
.navigation-top:hover .top-arrow .bg {
    width: 92px;
    height: 92px;
    left: 4px;
    top: calc(50% - 40px);
    transition: all 200ms ease;
}
.navigation-top:active .top-arrow .bg {
    width: 84px;
    height: 84px;
    left: 8px;
    top: calc(50% - 36px);
    transition: all 200ms ease;
}

.navigation-top span {
    font-family: LeagueSpartan;
    position: absolute;
    top: 70px;
    text-align: center;
    width: 96px;
}















/* Portfolio Pages */

.portfolio-sectionheader {
    font-size: 24px;
    margin: 50px auto 20px;
    max-width: 540px;
    line-height: 38px;
}

.portfolio-body {
    max-width: 510px;
    font-size: 15px;
    color: #383d40;
    line-height: 26px;
    margin: 18px auto 60px;
    font-family: "SourceSansProRegular";
}

#intro-header {
    margin-top:0px;
}

#intro-paragraph {
    margin-bottom: 90px;
}


.pimg {
    width: 100%;
    top: 0;
    position: relative;
    display: none;
    margin: 0;
    opacity: 0;
    transition: all 1s ease;
}
.pimg.inview {
    opacity: 1;
    top: 90px;
    transition: all 1.5s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 1.3s;
}
.pimg.outview {
    opacity: 0;
    transition: all 1.3s cubic-bezier(0.75, 0, 0.25, 1);
    top: 170px;
}

.pimg section.outview img{
    opacity:0;
    margin-top:100px;
    transition: all 1.6s ease;
}
.pimg section.inview img{
    opacity:1;
    margin-top:0px;
    transition: all 1.6s ease;
    transition-delay: .3s;
}

.portfolio-img {
    max-width:1000px;
    margin-bottom: 50px;
}

#pop-out {
    border-radius: 5px;
    box-shadow: 0px 30px 70px 20px #8da0a73d;
}

#small-img {
    max-width:500px;
}

.link {
    color: #317bff;
    text-decoration: none;
}
   

/* End Portfolio Pages */

section.fullWidth {
    width: 100%;
    float: left;
    margin-bottom: 90px;
}
section.fullWidth .secbanner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
img {
    width: 100%;
}
.ender {
    width: 100%;
    height: 150px;
    float: left;
    margin-bottom: 100px;
}
.next-project span.np {
    text-transform: uppercase;
    color: #bdbdbd;
    letter-spacing: 1px;
}

.next-project .right-arrow {
    width: 100%;
    float: left;
    position: relative;
    display: block;
    height: 1px;
}
.next-project span.np-but-title {
    font-size: 34px;
    margin: 18px 0 10px;
    display: inline-block;
}

.next-project .right-arrow .arrow {
    border: 5px solid black;
    border-radius: 100px;
    width: 76px;
    height: 76px;
    background-image: url(../img/bc-ar-01.png);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 48px);
    top: calc(50% - 44px);
    cursor: pointer;
    transition: all 100ms ease;
}

.next-project .right-arrow:hover  .arrow {
    width: 84px;
    height: 84px;
    left: calc(50% - 52px);
    top: calc(50% - 48px);
    transition: all 200ms ease;
    transition-delay: 100ms;
}

.next-project .right-arrow .bg {
    width: 84px;
    height: 84px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 36px);
    top: calc(50% - 36px);
    z-index: -1;
    border-radius: 100px;
    background: #31baff;
    background: -moz-linear-gradient(-45deg, #31baff 0%, #317bff 100%);
    background: -webkit-linear-gradient(-45deg, #31baff 0%,#317bff 100%);
    background: linear-gradient(135deg, #31baff 0%,#317bff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31baff', endColorstr='#317bff',GradientType=1 );
    transition: all 100ms ease;
}
.next-project .right-arrow:hover .bg {
    width: 92px;
    height: 92px;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    transition: all 200ms ease;
}
.next-project .right-arrow {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 50px;
}
.back {
    position: absolute;
    top: -80px;
    right: -50px;
    cursor:pointer;
    z-index: 10;
    opacity:0;
    transition: all 1s cubic-bezier(0.75, 0, 0.25, 1);
}
.back.inview {
    top: 84px;
    opacity:1;
    transition: all 1.2s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 1.35s;
}
.back.outview {
    top: -80px;
    transition: all 1.2s cubic-bezier(0.75, 0, 0.25, 1);
    opacity: 0;
}

.back .circle-x {
    border:5px solid black;
    border-radius:100px;
    width: 66px;
    height: 66px;
    background-image: url(../img/btproject_01.png);
    background-size: 66px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 49px);
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.75, 0, 0.25, 1);
}
.back:hover .circle-x {
    width: 76px;
    height: 76px;
    left: -5px;
    top: calc(50% - 54px);
    transition: all 300ms cubic-bezier(0.75, 0, 0.25, 1);
}

.back .btp-bg {
    border-radius:100px;
    width: 73px;
    height: 73px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 42px);
    z-index: -1;
    background: #31baff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #31baff 0%, #317bff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #31baff 0%,#317bff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #31baff 0%,#317bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31baff', endColorstr='#317bff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: all 300ms cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 150ms;
}
.back:hover .btp-bg {
    width: 81px;
    height: 81px;
    left: 4px;
    top: calc(50% - 46px);
    transition: all 300ms cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 150ms;
}
.back:active .btp-bg {
    width: 75px;
    height: 75px;
    left: 7px;
    top: calc(50% - 43px);
    transition: all 100ms ease;
}
.back-label {
    font-family: "LeagueSpartan";
    font-size: 18px;
    position: relative;
    top: 53px;
    right: 30px;
    text-align: center;
    margin: 0;
}


.about {
    display: none;
    color: #000000;
    top: 100px;
    position: absolute;
    width: 100%;
}
.section.carousel {
    float: left;
    width: 100%;
    margin-bottom: 150px;
}
.section.carousel.withCaptions {
    margin-bottom: 60px;
}
.slide {
    padding: 0 30px;
    opacity: 0.5;
    transition: opacity 1s ease;
    outline: none;
}
.slide.slick-current {
    opacity: 1;
}
.slick-list {
    position: relative;
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
}
.slide img {
    max-height: 440px;
    width: auto;
    margin: 0 auto;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}
.slick-dots {
    position: relative;
    bottom: 0;
    display: block;
    width: initial;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li button:before {
    content: '';
}
.slick-dots li button{
    width: 46px;
    height:6px;
    background: #e3e3e3;
    padding: 0 5px;
}
.slick-dots .slick-active button{
    background: #000000;
}
.slick-dots li {
    position: relative;
    bottom: 0;
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
}
.section-header {
    margin: 20px auto 50px;
    display: inline-block;
    text-align: center;
    width: 520px;
}
.section-header span {
    max-width: 510px;
    font-size: 15px;
    color: #383d40;
    line-height: 26px;
    margin: 0 auto 60px;
    font-family: "SourceSansProRegular";
}
.section-cont {
    display: inline-block;
    width: 100%;
}
.carousel-nav {
    position: relative;
    display: inline-block;
    margin-top: 40px;
}
.section.carousel.withCaptions .carousel-nav {
    margin-top: 0px;
}
button.slick-prev, button.slick-next {
    height: 30px;
    background:none;
    border: none;  
    font-family: "LeagueSpartan";
    cursor: pointer;
}
button.slick-prev.slick-arrow {
    position: absolute;
    width: 100px;
    left: -100px;
    font-size: 15px;
    outline: none;
    transition: all .3s ease;
}
button.slick-prev.slick-arrow:hover {
    color: #7b8188;
    transition: all .3s ease;
}
button.slick-next.slick-arrow {
    width: 100px;
    position: absolute;
    right: -100px;
    font-size: 15px;
    outline: none;
    transition: all .3s ease;
}
button.slick-next.slick-arrow:hover {
    color: #7b8188;
    transition: all .3s ease;
}
button.slick-disabled {
    opacity: 0.5;
}
.slide .slide-desc h3{
    margin-bottom: 5px;
    margin-top: 30px;
    opacity: 0;
    transition: opacity 1s ease;
}
.slide .slide-desc span{
    max-width: 510px;
    font-size: 14px;
    color: #8b9296;
    line-height: 25px;
    margin: 0 auto 30px;
    font-family: "SourceSansProRegular";
    opacity: 0;
    transition: opacity 1s ease;
    display: inline-block;
}
.slick-current .slide-desc span, .slick-current .slide-desc h3 {
    opacity: 1;
    transition: opacity 1s ease;
}
.section.carousel.withCaptions .carousel-nav {
    position: relative;
    display: inline-block;
    bottom: 0;
    margin-top: 10px;
}

section.aboutme {
    margin: 30px;
}
section.aboutme h2.main-title {
    font-family: "LeagueSpartan";
    font-size: 48px;
}
section.aboutme .left-copy {
    width: 50%;
    float: left;
    padding-right: 50px;
    box-sizing: border-box;
}
section.aboutme .right-img {
    width: 50%;
    float: right;
    padding: 0 20px;
    box-sizing: border-box;
}
section.aboutme .right-img img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 50px #cccccc;
}
section.aboutme .left-copy p {
    font-family: "Source Sans Pro";
    font-size: 18px;
}

.contact-but-cont {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    min-width: 192px;
    cursor: pointer;
    min-height: 66px;
    float: none;
    transition: top 100ms ease, left 100ms ease;
}
.contact-but-cont:hover {
    /*min-width: 200px;*/
    transition: all 200ms ease;
}
.contact-but {
    padding: 16px 30px;
    display: inline-block;
    font-size: 17px;
    border: 5px solid #000000;
    position: relative;
    top: 0px;
    left: 6px;
    line-height: 17px;
    transition: all 100ms ease;
    cursor: pointer;    font-family: "LeagueSpartan";

}

.contact-but-cont:hover .contact-but {
    padding: 20px 34px;
    top: -4px;
    transition: all 300ms ease;

}
.contact-but-cont:active .contact-but {
    padding: 16px 30px;
    top: 0px;
    transition: all 100ms ease;
}

.contact-but-cont  .con-bg {
    height: 58px;
    width: 160px;
    position: absolute;
    top: 9px;
    left: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background: -moz-linear-gradient(left, #ffd673 0%, #ff9945 100%);
    background: -webkit-linear-gradient(left, #ffd673 0%,#ff9945 100%);
    background: linear-gradient(to right, #ffd673 0%,#ff9945 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd673', endColorstr='#ff9945',GradientType=1 );
    transition: all 100ms ease;
}
.contact-but-cont:hover .con-bg {
    height: 67px;
    width: 168px;
    top: 6px;
    left: 22px;
    transition: all 200ms ease;
    transition-delay: 100ms;
}
.contact-but-cont:active .con-bg {
    height: 58px;
    width: 175px;
    top: 9px;
    left: 20px;
    transition: all 100ms ease;
}

section.skills {
    display: inline-block;
    width: 100%;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    margin: 80px 0;
    padding: 40px 50px;
}
.tskills {
    display: inline-block;
    margin: 30px 0;
}
.tskills-title {
    font-family: "LeagueSpartan";
    font-size: 34px;
    width: 200px;
    line-height: 46px;
    float: left;
}
.tsicons {
    float: left;
    width: calc(100% - 200px);
}
.tsicon {
    width: 20%;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
    height: 130px;
}
.tsicon img{
    width: 80%;

}
.tsicon span{
    font-family: "LeagueSpartan";
    display: inline-block;
    margin-top: 10px;
}
.alinks {
    margin: 100px 0;
    display: block;
    height: 200px;
}
.left-link {
    width: 50%;
    display: inline-block;
    text-align: center;
    float:  left;   
}
.dl-resume {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 10;
}

.dl-resume .top-arrow .arrow {
    border: 5px solid black;
    border-radius: 100px;
    width: 76px;
    height: 76px;
    background-image: url(../img/bc-bot-01.png);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 44px);
    cursor: pointer;
    transition: all 100ms ease;
}
.dl-resume:hover .top-arrow .arrow {
    width: 84px;
    height: 84px;
    left: -4px;
    top: calc(50% - 48px);
    transition: all 200ms ease;
}
.dl-resume:active .top-arrow .arrow {
    width: 76px;
    height: 76px;
    left: 0;
    top: calc(50% - 44px);
    transition: all 200ms ease;
}
.dl-resume .top-arrow .bg {
    width: 84px;
    height: 84px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 36px);
    z-index: -1;
    border-radius: 100px;
    background: #ffd673; /* Old browsers */
    background: -moz-linear-gradient(left, #ffd673 0%, #ff9945 100%);
    background: -webkit-linear-gradient(left, #ffd673 0%,#ff9945 100%);
    background: linear-gradient(to right, #ffd673 0%,#ff9945 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd673', endColorstr='#ff9945',GradientType=1 );
    transition: all 100ms ease;
}
.dl-resume:hover .top-arrow .bg {
    width: 92px;
    height: 92px;
    left: 4px;
    top: calc(50% - 40px);
    transition: all 200ms ease;
    transition-delay: 100ms;
}
.dl-resume:active .top-arrow .bg {
    width: 84px;
    height: 84px;
    left: 8px;
    top: calc(50% - 36px);
    transition: all 200ms ease;
}

.dl-resume span {
    font-family: LeagueSpartan;
    position: absolute;
    top: -100px;
    width: 300px;
    font-size: 28px;
    left: -110px;
    text-align: center;
}

.right-link {
    width: 50%;
    display: inline-block;
    text-align: center;
    float:  left;   
}
.view-lnp {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 10;
}

.view-lnp .top-arrow .arrow {
    border: 5px solid black;
    border-radius: 100px;
    width: 76px;
    height: 76px;
    background-image: url(../img/bc-ar-01.png);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 44px);
    cursor: pointer;
    transition: all 100ms ease;
}
.view-lnp:hover .top-arrow .arrow {
    width: 84px;
    height: 84px;
    left: -4px;
    top: calc(50% - 48px);
    transition: all 200ms ease;
}
.view-lnp:active .top-arrow .arrow {
    width: 76px;
    height: 76px;
    left: 0;
    top: calc(50% - 44px);
    transition: all 200ms ease;
}
.view-lnp .top-arrow .bg {
    width: 84px;
    height: 84px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 36px);
    z-index: -1;
    border-radius: 100px;
    background: #31baff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #31baff 0%, #317bff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #31baff 0%,#317bff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #31baff 0%,#317bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31baff', endColorstr='#317bff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: all 100ms ease;
}
.view-lnp:hover .top-arrow .bg {
    width: 92px;
    height: 92px;
    left: 4px;
    top: calc(50% - 40px);
    transition: all 200ms ease;
    transition-delay: 100ms;
}
.view-lnp:active .top-arrow .bg {
    width: 84px;
    height: 84px;
    left: 8px;
    top: calc(50% - 36px);
    transition: all 200ms ease;
}

.view-lnp span {
    font-family: LeagueSpartan;
    position: absolute;
    top: -100px;
    width: 330px;
    font-size: 28px;
    left: -125px;
    text-align: center;
}
    .resize {
        width: 100%;
        height: 100%;
        z-index: 10000;
        background:#ffffff;
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        bottom:0;
        display: none;
    }  
    .loading {
        width: 100%;
        height: 100%;
        z-index: 10000;
        background:#ffffff;
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        bottom:0;
    }  

    .load-anim {
        max-width: 400px;
    }

    .loading-cont {
        text-align: center;
        position: relative;
        top: calc(50% - 250px);
        font-family: "LeagueSpartan";
        opacity:0;
        transition-delay: 0.5s;
        transition: all 1s ease;
    }
    .loading-cont.inview {
        opacity: 1;
        transition: all 1s ease;
        transition-delay: 0.5s;
    }
    
    .loading-cont  video.res.anim {
        max-width: 500px;
    }
@media screen and (max-width: 920px) {
    .resize {
        width: 100%;
        height: 100%;
        z-index: 10000;
        background:#ffffff;
        position: fixed;
        top: 0;
        left: 0;
        right:0
        bottom:0;
        display: block;
    }  
    .resize-cont {
        text-align: center;
        position: relative;
        top: calc(50% - 250px);
        font-family: "LeagueSpartan";
    }
    video.res.anim {
        max-width: 500px;
    }
    img.res-arrow {
        width: 30px;
        height: 30px;
        position: absolute;
    }
    img.res-arrow.arrow_br {
        bottom:0;
        right: 0;
        animation: abr 2s ease  infinite normal ;
    }
    img.res-arrow.arrow_bl {
        bottom:0;
        left: 0;
        animation: abl 2s ease  infinite normal ;
    }
    img.res-arrow.arrow_tl {
        top: 0;
        left: 0;
        animation: atl 2s ease  infinite normal ;
    }
    img.res-arrow.arrow_tr {
        top: 0;
        right: 0;
        animation: atr 2s ease  infinite normal ;
    }
}


@media screen and (max-width: 720px) {
    img.res-arrow.arrow_br {
        animation: abr 1s ease  infinite normal ;
    }
    img.res-arrow.arrow_bl {
        animation: abl 1s ease  infinite normal ;
    }
    img.res-arrow.arrow_tl {
        animation: atl 1s ease  infinite normal ;
    }
    img.res-arrow.arrow_tr {
        animation: atr 1s ease  infinite normal ;
    }
}



@keyframes atl {
  0%{
    transform: translate(0,0) ;
  }
  50%{
    transform: translate(75px, 75px);
  }

  100%{
    transform: translate(0,0) ;
  }
}
@keyframes atr {
  0%{
    transform: translate(0,0) ;
  }
  50%{
    transform: translate(-75px, 75px);
  }

  100%{
    transform: translate(0,0) ;
  }
}
@keyframes abr {
  0%{
    transform: translate(0,0) ;
  }
  50%{
    transform: translate(-75px, -75px);
  }

  100%{
    transform: translate(0,0) ;
  }
}
@keyframes abl {
  0%{
    transform: translate(0,0) ;
  }
  50%{
    transform: translate(75px, -75px);
  }

  100%{
    transform: translate(0,0) ;
  }
}

.mobileHome {
    display: none;
}

@media screen and (max-width: 560px) {
    .homepage.viewHome, .projects, .about, .resize, .mb-cont.viewMenu {
        display: none !important;
    }    
    .mobileHome {
        display: block;
        position: relative;
        z-index: 10000;
        text-align: center;
    }
    video.homepage.anim {
        width: 100%;
        display: block !important;
    }
    .homepage-animation {
        position: relative;
        top: inherit;
        left: inherit;
        width: 100%;
        text-align: center;
        opacity: 1;
        transition: all 1s ease;
        float: left;
    }
    .text-1 {
        font-family: "LeagueSpartan";
        display: block;
        position: relative;
        top: initial;
        left: initial;
        font-size: 28px;
        letter-spacing: .3px;
        opacity: 1;
        width: 300px;
        text-align: center;
        opacity: 1;
        float: left;
        width: 100%;
        z-index: 321;
    }
    .title-1 {
        font-family: "LeagueSpartan";
        display: block;
        position: relative;
        top: initial;
        left: initial;
        font-size: 48px;
        letter-spacing: .3px;
        opacity: 1;
        width: 300px;
        text-align: center;
        opacity: 1;
        float: left;
        width: 100%;
        z-index: 321;
        margin-bottom: 40px;
    }
    .container {
        top: inherit;
        margin-top: 90px;
    }

    .text-4 {
        font-family: "LeagueSpartan";
        display: block;
        position: relative;
        top: initial;
        left: initial;
        font-size: 20px;
        letter-spacing: .3px;
        opacity: 1;
        width: 300px;
        text-align: center;
        opacity: 1;
        float: left;
        width: 100%;
        z-index: 321;
        padding: 25px;
        width: 100%;
        box-sizing: border-box;
        line-height: 30px;
    }
    .text-4 span.blue {
        color: #3e91ee;
    }
    .menu-bg {
        display: none;
    }
}