
 /* Global styles come from external css https://codepen.io/GreenSock/pen/JGaKdQ*/

body {
    overflow: hidden;   
    margin: 0;
    padding: 0;
    position: relative;
}

@font-face {
  font-family: LeagueSpartan;
  src: url(../fonts/LeagueSpartan-Bold.otf);
}

@font-face {
  font-family: SourceSansProRegular;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

.homepage {
    display:none;
    z-index: 2;
    position: relative;
    top: -20px;
}
.icon-1 {
    background-image: url(../img/designer@2x.png);
    background-repeat: no-repeat;
    background-size: auto 34px;
    background-position: right 1px;
    padding-right: 74px !important;
    padding: 4px 0 10px 0;
}
.icon-2 {
    background-image: url(../img/illustrator@2x.png);
    background-repeat: no-repeat;
    background-size: auto 34px;
    background-position: right 0px;
    padding-right: 45px !important;
    padding: 4px 0 10px 0;
}
.icon-3 {
    background-image: url(../img/rebel-scum@2x.png);
    background-repeat: no-repeat;
    background-size: auto 34px;
    background-position: right 1px;
    padding: 4px 0 10px 0;
    padding-right: 46px !important;
}
.lockup-cont {
    max-width: 1024px;
    margin: 00 auto;
    position: relative;
}
.container {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 600px;
}
.mb-cont { 
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 102;
}
.menu-button {
    background: none;
    z-index: 102;
    outline: none;
    border: 5px solid #000000;
    padding: 9px 10px;
    opacity: 1;
}
.mb-cont .mb-bg {
    width: 57px;
    height: 58px;
    display: block;
    z-index: -1;
    content: "";
    position: absolute;
    top: 11px;
    left: 10px;
    background: #ffd673; /* Old browsers */
    background: -moz-linear-gradient(left, #ffd673 0%, #ff9945 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffd673 0%,#ff9945 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffd673 0%,#ff9945 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd673', endColorstr='#ff9945',GradientType=1 ); /* IE6-9 */
}
.text-1 {
    font-family: "LeagueSpartan";
    display: block;
    position: absolute;
    top: 110px;
    left: calc(50% - 150px);
    font-size: 28px;
    letter-spacing: .3px;
    opacity: 1;
    width: 300px;
    text-align: center;
}
.title-1 {
    font-family: "LeagueSpartan";
    display: block;
    position: absolute;
    top: 165px;
    left: calc(50% - 300px);
    font-size: 72px;
    width: 600px;
    text-align: center;
}
.text-2 {
    font-family: "LeagueSpartan";
    display: block;
    position: absolute;
    top: 495px;
    left: calc(50% - 300px);
    font-size: 26px;
    text-align: center;
    width: 600px;
}
.text-2 span {
    margin-right: 30px;
    padding-right: 35px;
}
.view-more {
    position: absolute;
    top: 586px;
    left: calc(50% - 145px);
    font-family: "LeagueSpartan";
    padding-left: 115px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    transition-property: color;
    transition-duration: .3s;
}

.view-more:hover {
    color: #317bff;   
}


.view-more .circle-arrow {
    width: 80px;
    height: 80px;
    background-image: url(../img/bc-ar-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 44px);
    cursor: pointer;
}
.view-more .ca-bg{
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 36px);
    z-index: -1;
    background: #31baff;
    background: -moz-linear-gradient(-45deg, #31baff 0%, #317bff 100%);
    background: -webkit-linear-gradient(-45deg, #31baff 0%,#317bff 100%);
    background: linear-gradient(135deg, #31baff 0%,#317bff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31baff', endColorstr='#317bff',GradientType=1 );
    border-radius: 100px;
}

.page-bg {
    position: fixed;
    background: #ffffff;
    border-right: 16px solid #000000;
    box-shadow: 0 0 400px #00000061;
    transform: skew(-45deg);
    top: 0;
    left: -200%;
    display: block;
    z-index: 1;
    /*opacity: 0;*/
}
.menu-bg {
    position: fixed;
    background: #ffffff;
    border-right: 16px solid #000000;
    box-shadow: 0 0 400px #00000061;
    transform: skew(-45deg);
    top: 0;
    left: -200%;
    display: block;
    z-index: 100;
    /*opacity: 0;*/
}
.orange-circle {
    display: block;
    position: absolute;
    top: 260px;
}
video.circle.anim {
    width: 222px;
}

.homepage-animation {
    position: absolute;
    top: 300px;
    left: calc(50% - 346px);
    width: 700px;
    text-align: center;
}
video.homepage.anim {
    width: 100%;
}
.blue-square {
    position: absolute;
    top: 190px;
    right: -30px;
}
video.square.anim {
    width: 278px;
}

.roles {
    width: 100%;
    margin-top: 31px;
    padding: 30px 0 0 0;
    display: block;
    position: absolute;
    top:230px;
    opacity: 0;
}
.roles span {
    font-size: 14px;
    margin: 0 20px;
    padding-left: 30px;
    position:relative;
}
.roles span:before {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    left: 8px;
    top: 2px;
}

.roles span.green:before {
    background: #619f21;
}
.roles span.orange:before {
    background: #f18f31;
}
.roles span.blue:before {
    background: #31b6ff;
}



/* MENU */
.menu-wrapper {
    z-index: 121;
    position: absolute;
    width: 430px;
    text-align: left;
    height: 600px;
    left: calc(50% - 226px);
    top: 150px;
    font-family: "LeagueSpartan";
    display: none;
}
.line-1 {
    height: 8px;
    width: 100%;
    display: block;
    background: #000000;
    margin: 0 50px 60px  0;
}
.line-2 {
    height: 8px;
    width: 100%;
    display: block;
    background: #000000;
    float: right;
    margin: 50px 0 0 0;
}
.link-home, .link-projects, .link-about {
    font-size: 52px;
    margin: 20px 0 20px 40px;
}
.email-info {
    margin: 20px 0 5px 53px;
    font-size: 20px;
}
.email-info a{
    color:#317bff;
    text-decoration: none;
}


video.menu-character1.anim {
    width: 330px;
    position: absolute;
    left: -320px;
    top: 90px;
    z-index: -1;
}
video.menu-character2.anim {
    width: 330px;
    position: absolute;
    right: -310px;
    top: 230px;
    z-index: -1;
}
video.menu-character3.anim {
    width: 330px;
    position: absolute;
    right: -350px;
    top: -150px;
    z-index: -1;
}
.bbar {
    width: 0;
    display: inline-block;
    height: 8px;
    background: #000000;
    margin-bottom: 16px;
    margin-right: 0;
    position: relative;
    left: -40px;
}
.mitem:hover {
    cursor: pointer;
}


.projects-indicator {
    width: 100%;
    text-align: center;
    display: inline-block;
    height: 30px;
    position: absolute;
    top: 570px;
}
.projects-indicator .indicator {
    width: 50px;
    height: 8px;
    background: #e3e3e3;
    display: inline-block;
    margin: 4px;
}
.projects-indicator .indicator.active {
    background: #000000;
}
.project-container {
    position: absolute;
    top: 70px;
    text-align: center;
    font-family: "LeagueSpartan";
    width: 100%;
    opacity: 1;
}
.pn-cont {
    font-size: 32px;
    margin-bottom: 30px;
    font-family: "LeagueSpartan";
    position: relative;
}
.pn-cont .pnumber.active {
    display: inline-block;
    position: relative;
    top:0;
    opacity: 1;
}
.pn-cont .pnumber.inactive {
    display: none;
}
.pn-cont span.numberp {
    color: #c1c1c1;
}
.picon img {
    max-width: 142px;
    margin-bottom: 25px;
}
.ptitle {
    font-size: 40px;
    margin: 0 0 22px 0;
}
.pdesc {
    max-width: 540px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 200;
    font-family: SourceSansProRegular;
    line-height: 24px;
    margin-bottom: 32px;
}
.vp-button-cont {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 192px;
    cursor: pointer;
}
.vp-button {
    padding-top: 2px;
    font-size:17px;
    border: 5px solid #000000;
    width: 170px;
    height: 54px;
    position: absolute;
    top: 0px;
    left: 6px;
    line-height: 56px;
}

.vp-bg {
    height: 61px;
    width: 175px;
    position: absolute;
    top: 11px;
    left: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background: #ffd673; /* Old browsers */
    background: -moz-linear-gradient(left, #ffd673 0%, #ff9945 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffd673 0%,#ff9945 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffd673 0%,#ff9945 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd673', endColorstr='#ff9945',GradientType=1 ); /* IE6-9 */
}
.projects {
    display: none;
    position: absolute;
    z-index: 0;
    width: 100%;
}
.navigation-left {
    position: absolute;
    top: 300px;
    left:50px;
    cursor:pointer;
    z-index: 10;
}

.navigation-left .left-arrow .arrow {
    width: 88px;
    height: 88px;
    background-image: url(../img/bc-al-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 44px);
    cursor: pointer;
}
.navigation-left .left-arrow .bg {
    width: 88px;
    height: 88px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 36px);
    z-index: -1;
    border-radius: 100px;
    background: #31baff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #31baff 0%, #317bff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #31baff 0%,#317bff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #31baff 0%,#317bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31baff', endColorstr='#317bff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.navigation-left .line-left {
    height: 6px;
    background: #000;
    width: 300px;
    position: absolute;
    right: 40px;
}
.navigation-right {
    position: absolute;
    top: 300px;
    right: 138px;
    cursor:pointer;
    z-index: 10;
}

.navigation-right .right-arrow .arrow {
    width: 88px;
    height: 88px;
    background-image: url(../img/bc-ar-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 44px);
    cursor: pointer;
}
.navigation-right .right-arrow .bg {
    width: 88px;
    height: 88px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 36px);
    z-index: -1;
    border-radius: 100px;
    background: #31baff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #31baff 0%, #317bff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #31baff 0%,#317bff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #31baff 0%,#317bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31baff', endColorstr='#317bff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.navigation-right .line-right {
    height: 6px;
    background: #000;
    width: 300px;
    position: absolute;
    left: 128px;
}

/* Portfolio Pages */
.portfolio-category {
    color:#f49231;
    font-size:13px;
    text-transform: uppercase;
    letter-spacing: .7px;
}

.portfolio-sectionheader {
    font-size: 25px;
    margin: 15px 0 20px;
}

.portfolio-body {
    max-width: 510px;
    font-size: 15px;
    color: #606668;
    line-height: 25px;
    margin: 0 auto 60px;
    font-family: "SourceSansProRegular";
}

.pimg {
    width: 100%;
    display: none;
    margin: 110px 0 0 0;
    opacity: 0;
}

/* End Portfolio Pages */


img {
    width: 100%;
}
.ender {
    width: 100%;
    height: 1px;
}

.back {
    position: absolute;
    top: -100px;
    right: 0px;
    cursor:pointer;
    z-index: 10;
    display: block;
    opacity: 0;
}

.back .circle-x {
    width: 88px;
    height: 88px;
    background-image: url(../img/btproject_01.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: calc(50% - 44px);
    cursor: pointer;
}
.back .btp-bg {
    width: 88px;
    height: 88px;
    background-image: url(../img/bc-bg-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 36px);
    z-index: -1;
}
.about {
    display: none;
    color: #000000;
    top: 100px;
    position: absolute;
    width: 100%;
}