
 /* Global styles come from external css https://codepen.io/GreenSock/pen/JGaKdQ*/

body {
    overflow: hidden;   
    margin: 0;
    padding: 0;
    position: relative;
}
@font-face {
  font-family: LeagueSpartan;
  src: url(../fonts/LeagueSpartan-Bold.otf);
}
.lockup-cont {
    max-width: 1024px;
    margin: 00 auto;
    position: relative;
}
.container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
}
.menu-button {
    background: yellow;
    z-index: 102;
    position: absolute;
}
.text-1 {
    font-family: "LeagueSpartan";
    display: block;
    position: absolute;
    top: 160px;
    left: 20%;
    font-size: 30px;
}
.title-1 {
    font-family: "LeagueSpartan";
    display: block;
    position: absolute;
    top: 220px;
    left: 30%;
    font-size: 60px;
}
.text-2 {
    font-family: "LeagueSpartan";
    display: block;
    position: absolute;
    top: 390px;
    left: 30%;
    font-size: 26px;
}
.text-2 span {
    margin-right: 30px;
    padding-right: 35px;
}
.view-more {
    position: absolute;
    top: 470px;
    left: 30%;
    font-family: "LeagueSpartan";
}
.menu-wrapper {
    position: fixed;
    background: #ffffff;
    border-right: 5px solid #000000;
    box-shadow: 0 0 100px #cccccc;
    transform: skew(-45deg);
    top: 0;
    left: -200%;
    display: block;
    z-index: 100;
    opacity: 0;
}

